.mobile-view {
    .knowledge-explorer {
        .knowledge-explorer-search {
            margin: 10vh 0;
            padding: 2em 0;
        }
        .knowledge-explorer-search-wrapper {
            padding-bottom: 2em;
        }
        .knowledge-explorer-tags-top {
            padding: 1em 0 0 0;
        }
    }
}
